<a href="https://colab.research.google.com/github/rizalpernata1/EV_Charging_Time_Prediction_Using_XGBoost/blob/main/EV_Charging_Time_Prediction_using_XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error

In [ ]:
df = pd.read_csv('station_data_dataverse.csv')

## EDA

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3395 entries, 0 to 3394
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sessionId       3395 non-null   int64
 1   kwhTotal        3395 non-null   float64
 2   dollars         3395 non-null   float64
 3   created         3395 non-null   object
 4   ended           3395 non-null   object
 5   startTime       3395 non-null   int64
 6   endTime         3395 non-null   int64
 7   chargeTimeHrs   3395 non-null   float64
 8   weekday         3395 non-null   object
 9   platform        3395 non-null   object
 10  distance        2330 non-null   float64
 11  userId          3395 non-null   int64
 12  stationId       3395 non-null   int64
 13  locationId      3395 non-null   int64
 14  managerVehicle  3395 non-null   int64
 15  facilityType    3395 non-null   int64
 16  Mon             3395 non-null   int64
 17  Tues            3395 non-null   int64
 18  Wed             3395 non-null   int64
 19  Thurs           3395 non-null   int64
 20  Fri             3395 non-null   int64
 21  Sat             3395 non-null   int64
 22  Sun             3395 non-null   int64
 23  reportedZip     3395 non-null   int64
dtypes: float64(4), int64(16), object(4)
memory usage: 636.7+ KB

In [ ]:
df.describe()

,sessionId,kwhTotal,dollars,startTime,endTime,chargeTimeHrs,distance,userId,stationId,locationId,managerVehicle,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip
count,3.395000e+03,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,2330.000000,3.395000e+03,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000
mean,5.487001e+06,5.809629,0.118268,13.743446,16.455965,2.841488,18.652378,5.742395e+07,576789.678056,629934.460677,0.595582,2.428571,0.181443,0.187040,0.210015,0.216495,0.179676,0.018262,0.007069,0.703976
std,2.590657e+06,2.892727,0.492562,3.204370,3.406732,1.507472,11.420571,2.674772e+07,257486.310402,255620.993849,0.490851,0.811204,0.385442,0.390001,0.407379,0.411916,0.383974,0.133918,0.083793,0.456569
min,1.004821e+06,0.000000,0.000000,0.000000,0.000000,0.012500,0.856911,1.042767e+07,129465.000000,125372.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.234666e+06,4.350000,0.000000,11.000000,14.000000,2.110278,5.135871,3.329548e+07,369001.000000,481066.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.451498e+06,6.230000,0.000000,13.000000,16.000000,2.808889,21.023826,4.924181e+07,549414.000000,503205.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,7.746644e+06,6.830000,0.000000,17.000000,20.000000,3.544167,27.285053,8.188052e+07,864630.000000,878393.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.998981e+06,23.680000,7.500000,23.000000,23.000000,55.238056,43.059292,9.834581e+07,995505.000000,978130.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.isna().sum()

sessionId            0
kwhTotal             0
dollars              0
created              0
ended                0
startTime            0
endTime              0
chargeTimeHrs        0
weekday              0
platform             0
distance          1065
userId               0
stationId            0
locationId           0
managerVehicle       0
facilityType         0
Mon                  0
Tues                 0
Wed                  0
Thurs                0
Fri                  0
Sat                  0
Sun                  0
reportedZip          0
dtype: int64

## Preprocessing

In [ ]:
df = df.dropna()

## Choosing the features to be used

In [ ]:
selected_features = ['kwhTotal', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'chargeTimeHrs']
df = df[selected_features]

## Separating features and target

In [ ]:
X = df.drop('chargeTimeHrs', axis=1)
y = df['chargeTimeHrs']

## Splitting the data into training and test sets

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Train XGBoost Model

In [ ]:
model = XGBRegressor(random_state=42)
model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=42, ...)

## Predicting charging time on the test data

In [ ]:
y_pred = model.predict(X_test)

## Display the predicted and actual values

In [ ]:
results = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(results)

         Actual  Predicted
1289   4.417222   2.571585
2341   2.526111   3.544685
2593   0.506111   1.119157
1386   4.377778   3.262690
2363   2.379722   3.424935
...         ...        ...
2030   3.203056   3.221154
915    2.997222   3.064754
1414   3.064167   2.317014
2553  11.586944   3.645858
1983   2.577778   2.735735

[466 rows x 2 columns]

## Calculating the mean absolute error

In [ ]:
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 0.8318828035757794